<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Write a Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" href="index.css" rel="stylesheet">
</head>


<body>
{% extends "template.html" %}
{% block content %}
    <!-- <a href="index">Return to Homepage</a> -->
    
    <center>
        <h1>Write a Review</h1>
        <br>
        
        {% if reviewAdded %}
        <h3>Review for {{ reviewName[0][0] }} has been successfully submitted.</h3>
        <br>
        <a href="reviewAdd" class="btn btn-default" id="backtohomepagebutton">Write review for a different article?</a>
        <br>
        <br>
        <a href="review" class="btn btn-default" id="backtohomepagebutton">View article reviews</a>
        
        
        {% else %}
        
        <h3>Please write your review below.</h3>
        <form action="{{ url_for('reviewAdd')}}" method ='POST'>
            ArticleID:
            <select name='ArticleID'>
            {% for item in items %}
                <option>{{item[0]}}</option>
            {% endfor %}
            </select>
            <input type="radio" name="Rating" Value ="1">1 Star
            <input type="radio" name="Rating" Value ="2">2 Stars
            <input type="radio" name="Rating" Value ="3" checked>3 Stars
            <input type="radio" name="Rating" Value ="4">4 Stars
            <input type="radio" name="Rating" Value ="5">5 Stars
            <br>
            Detailed Review
            <br>
            <textarea name="detailedReview" rows ="5" cols="100" required></textarea><br>
            <input type="submit" value="Submit">
        </form>
        <br>
        
    
        <table id = "articleTable">
            <tr>
                <th>ArticleID</th>
                <th>Article Name</th>
                <th>Seller</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            {% for item in items %}
            <tr>
                {% for attribute in item %}
                <td>{{attribute}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        
        {% endif %}
    </center>
    <footer class="footer" align="right" style="margin-right: 10px">
            <p>&copy; Shop.com 2019</p>
        </footer>
{% endblock %}

</body>
</html>
 
 <style>

	
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        padding: 10px
    }
	
	html {
		height: 100%;
	}
	
	body {
		background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	}
</style>